body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.navbar {
  background: linear-gradient(90deg, #73D38E, #F3F3F3);
  
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.8rem;
  color: #f1f4f2;
}

.nav-link {
  color: #333 !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #2F8A47 !important;
}

.btn-cart {
  background-color: #40B55D;
  color: #333;
  border-radius: 15px;
  border: none;
  padding: 6px 12px;
}

.btn-cart:hover {
  background-color: #90ee90;
}

.banner {
  position: relative;
  height: 85vh; 
  background: url('fotos/Imagem.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.4); 
}
.categorias {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.categoria {
  text-align: center;
}

.categoria-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  transition: transform 0.3s ease;
}

.categoria-img:hover {
  transform: scale(1.05);
}

body {
  font-family: 'Poppins', sans-serif;
}


.categoria-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  transition: transform 0.3s ease;
}

.categoria-img:hover {
  transform: scale(1.05);
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}


.categoria-img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid #dee2e6;
  transition: transform 0.3s;
}

.categoria-img:hover {
  transform: scale(1.05);
}


.btn-cart {
  background-color: #66bb6a;
  color: white;
}

.btn-cart:hover {
  background-color: #4caf50;
}

.mais-vendidos h2 {
  color: #333;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.card img {
  object-fit: cover;
  height: 280px;
}
